<!-- Main Content -->
<div class="container">
    <div class="row">
        <ul class="collection">
        {{#if articles}}
            <li class="collection-item grey white-text"><h2>Your saved articles</h2></li>
        {{/if}}
        {{#unless articles}}
            <li class="collection-item grey white-text"><h2>You don't have any saved articles</h2></li>
        {{/unless}}
        </ul>
    </div>

    <div class="col-lg-12 col-md-12 mx-auto">
    {{#each articles}}
        <div class="delete-wrapper">
            <button data-id={{this._id}} class="btn btn-primary deletearticle">X</button>
        </div>
        <div class="post-preview">
            <a class="post-link" href={{this.link}}>
                <h2 class="post-title">
                {{this.title}}
                </h2>
                <h3 class="post-subtitle">
                {{this.description}}
                </h3>
            </a>
        </div>
        
        <div class="btn-show">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapse-{{this._id}}" data-id={{this._id}}><i class="fa fa-plus" aria-hidden="true"></i> Show Notes</a>
        </div>
        
        <div class="btn-note">
            <button class="btn btn-tertiary" type="button" data-toggle="modal" data-target="#modal-{{this._id}}" data-id={{this._id}}><i class="fa fa-plus" aria-hidden="true"></i> Add Note</a>
        </div>
        
        <div class="collapse" style="font-size: 0.85em" id="collapse-{{this._id}}">
            <div class="card card-body" id="notes">
                
            </div>
        </div>

        <hr>

        <!-- Add Comments Drop Down -->
        <!-- Modal -->
        <div class="modal fade" id="modal-{{this._id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form-add-{{this._id}}" action="/articles/{{this._id}}" method="post">
                    <div class="modal-body">
                        <!--  Title input -->
                        <div class="row">
                            <div class="input-field ">
                                <label class="note-title" for="author_name">Title:</label>
                                <input id="noteTitle" name="title" type="text" class="validate">
                            </div>
                        </div>
                        <!-- Comment Input -->
                        <div class="row">
                            <div class="input-field ">
                                <label class="note-body" for="comment_box">Note:</label>
                                <textarea id="noteBody" name="body" class="materialize-textarea"></textarea>
                            </div>
                        </div>
                        <!-- Submit Button -->
                        {{!-- <div class="row">
                            <div class="input-field col s12">
                                <center><input class="btn add-comment-button" type="submit" >
                                </center>
                            </div>
                        </div> --}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-quartenary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-tertiary" data-id="{{this._id}}">Save note</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        {{/each}}
        </div>
    </div>
</div>

<hr>